html, body {
  margin: 0;
  height: 100%;
}

body {
  padding: 20px;
  background: url("/static/asset/mainBG.png") fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-width:100%；
  background-height:auto;
}

ul#menu {
  margin-bottom: 30px;
  text-align: right;
}

ul#menu li {
  display: inline-block;
}
